---
component: rb_itemscroller
---
<div class="rb-itemscroller js-rb-live" data-module="itemscroller" {{#eachProperty attrs}}{{this.key}}="{{this.value}}"{{/eachProperty}}>
{{#if autoplay}}
    <button type="button" class="itemscroller-autoplay-btn">autoplay</button>
{{/if}}
{{#if itemsIndex}}
    <div>
        <span class="itemscroller-current-index"> </span>
        /<span class="itemscroller-page-length"> </span>
    </div>
{{/if}}
{{#if selectpagination }}
    <select class="itemscroller-select"></select>
{{/if}}
{{#if buttons }}
    <button type="button" class="itemscroller-btn-prev" tabindex="-1" aria-hidden="true">{{buttons.prev}}</button>
    <button type="button" class="itemscroller-btn-next" tabindex="-1" aria-hidden="true">{{buttons.next}}</button>
{{/if}}
<div class="itemscroller-viewport">
    <div class="itemscroller-content u-column-group u-gutters-horizontal">
        {{#each items}}
            <div class="itemscroller-cell {{sizes}}">
                <div class="docs-item" style="min-height: 200px; background: #888; width: 100%; border: 1px solid #444;">
                    <span style="display: block; font-size: 48px; color: #fff; font-weight: bold; text-align: center;">{{ @index }}</span>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{#if pagination}}
    <div class="itemscroller-pagination"></div>{{/if}}
</div>


