---
component: rb_accordion
---

<div class="rb-accordion js-rb-life" data-module="accordion" {{#each attrs}} data-{{@key}}="{{this}}"{{/each}}>
    {{#if buttons }}
        <div class="accordion-controls">
            {{#if buttons.prev}}
                <button type="button" class="accordion-ctrl-btn" data-type="prev">{{ buttons.prev }}</button>
            {{/if}}
            {{#if buttons.next}}
                <button type="button" class="accordion-ctrl-btn" data-type="next">{{ buttons.next }}</button>
            {{/if}}
        </div>
    {{/if}}
    {{#each items }}
        <div class="accordion-item{{#if open}} is-selected-within{{/if}}">
            <button type="button" class="accordion-btn" {{#if open}}aria-expanded="true"{{/if}}>{{ title }}</button>
            <div class="accordion-panel {{#if open}}is-open{{/if}}" {{#if id}}id="{{ id }}"{{/if}}>
                <div class="accordion-content">
                    {{#each content}}
                        {{{ this }}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
