---
component: rb_accordion
---

<div class="rb-accordion js-rb-life" data-module="accordion">
    {{#if buttons }}
        {{#if buttons.prev}}
            <button type="button" class="accordion-ctrl-btn" data-type="prev">{{ buttons.prev }}</button>
        {{/if}}
        {{#if buttons.next}}
            <button type="button" class="accordion-ctrl-btn" data-type="next">{{ buttons.next }}</button>
        {{/if}}
    {{/if}}
    {{#each items }}
        <div class="accordion-item">
            <button type="button" class="accordion-btn">{{ title }}</button>
            <div class="accordion-panel {{#if open}}is-selected-within{{/if}}" {{#if id}}id="{{ id }}"{{/if}}>
                <div class="accordion-content">
                    {{#each content}}
                        {{{ this }}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
