---
component: rb_tabs
---

<div class="rb-tabs {{ type }}" data-module="tabs" {{#eachProperty attrs}}{{this.key}}="{{this.value}}"{{/eachProperty}}>
    <ul class="tabs-nav tabs-btn-wrapper">
        {{#each items }}
        <li class="tabs-nav-item"><button type="button" class="tabs-btn" {{#if open}}aria-expanded="true"{{/if}}>{{ title }}</button></li>
        {{/each}}
    </ul>
    {{#if buttons }}
        <div class="tabs-controls">
            {{#if buttons.prev}}
                <button type="button" class="tabs-ctrl-btn" data-type="prev">{{ buttons.prev }}</button>
            {{/if}}
            {{#if buttons.next}}
                <button type="button" class="tabs-ctrl-btn" data-type="next">{{ buttons.next }}</button>
            {{/if}}
        </div>
    {{/if}}
    <div class="tabs-panel-wrapper">
    {{#each items }}
        <div class="tabs-panel {{#if open}}is-open{{/if}}" {{#if id}}id="{{ id }}"{{/if}}>
            <div class="tabs-content">
                {{#each content}}{{{ this }}}{{/each}}
            </div>
        </div>
    {{/each}}
    </div>
</div>
