<div class="rb-<%=name%>" role="application">
	<div class="<%=name%>-box" role="group">
		<div class="<%=name%>-pagination">
			<button type="button" class="<%=name%>-btn-prev">
				<span>
					<%= formats.previous %>
				</span>
			</button>
			<button class="<%=name%>-btn-header" type="button">
			</button>
			<div class="<%=name%>-selects">

			</div>
			<button type="button" class="<%=name%>-btn-next">
				<%= formats.next %>
			</button>
		</div>
		<div class="<%=name%>-main">

		</div>
		<div class="<%=name%>-controls">
			<button type="button" class="<%=name%>-now">
				<%= formats.today %>
			</button>
			<button type="button" class="<%=name%>-clear">
				<%= formats.clear %>
			</button>
		</div>
	</div>
</div>
