---
component: rb_popover
---
{{#uniqueID}}
{{#if btn.link}}
	<a href="#popover-panel-{{id}}" class="{{ btn.type }}" data-module="panelbutton">
		{{ btn.title }}
	</a>
{{ else }}
    <button type="button" aria-controls="popover-panel-{{id}}" class="{{ btn.type }}" data-module="panelbutton">
        {{ btn.title }}
    </button>
{{/if}}

<div id="popover-panel-{{id}}" class="rb-popover {{ panel.type }}" data-module="popover" aria-live="polite">
	<div class="popover-content">
        {{#each panel.content }}
            {{{ this }}}
        {{/each}}
	</div>
</div>
{{/uniqueID}}