<div class="rb-site-info" role="contentinfo">
	<div class="site-info-inner use-column-group use-gutter-horizontal">
		{{#if copyright}}
			<div class="use-size-auto">
				<p class="site-info-copyright">&copy; {{ copyright }}</p>
			</div>
		{{/if}}
		{{#if items}}
			<div class="use-size-auto use-offset-right">
				<ul class="site-info-list">
					{{#each items }}
						<li class="site-info-item">
							{{#if link }}
								<a href="{{ link }}" class="site-info-link">{{ title }}</a>
							{{else }}
								{{ title }}
							{{/if}}
						</li>
					{{/each}}
					<li class="site-info-item">
						<a href="#" class="site-info-link"></a>
					</li>
				</ul>
			</div>
		{{/if}}
	</div>
</div>