<div class="rb-siteinfo" role="contentinfo">
	<div class="siteinfo-inner use-column-group use-gutter-horizontal">
		{{#if copyright}}
			<div class="use-size-auto">
				<p class="siteinfo-copyright">&copy; {{ copyright }}</p>
			</div>
		{{/if}}
		{{#if items}}
			<div class="use-size-auto use-offset-right">
				<ul class="siteinfo-list">
					{{#each items }}
						<li class="siteinfo-item">
							{{#if link }}
								<a href="{{ link }}" class="siteinfo-link">{{ title }}</a>
							{{else }}
								{{ title }}
							{{/if}}
						</li>
					{{/each}}
					<li class="siteinfo-item">
						<a href="#" class="siteinfo-link"></a>
					</li>
				</ul>
			</div>
		{{/if}}
	</div>
</div>