<div class="form-field is-{{ type }} {{#if invalid}}is-invalid{{/if}}">
	<label class="form-label" for="dummy-{{type}}-{{ id }}">
		{{ label }}
		{{#if requiredNotion }}
			<dfn title="Required Input">{{ requiredNotion  }}</dfn>
		{{/if}}
	</label>