<div class="rb-sitemap">
	<div class="sitemap-inner">
		<ul class="sitemap-group use-column-group use-gutters">
			{{#each boxes}}
				<li class="sitemap-box {{ sizes }}">
					{{#if header}}
						{{#if header.link}}
							<h3 class="sitemap-title">
								<a class="sitemap-title-link" href="{{ header.link }}">{{ header.title }}</a>
							</h3>
						{{else}}
							<h3 class="sitemap-title">{{ header.title }}</h3>
						{{/if}}
					{{/if}}
					{{#if items }}
						<ul class="sitemap-list">
							{{#each items }}
								<li class="sitemap-item">
									<a href="{{ link }}" class="sitemap-link">{{ title }}</a>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>